.App {
    text-align: center;
   display: flex;
   justify-content: flex-end;
   margin: 20px 10px;
   
  }
  .boton{
    background-color:rgb(37, 0, 124) !important ;
    border: none;
    width: 100px;
    border-radius: 30px;
    
  }

  .title{
    border-inline: inherit;
    width: 400px;
    border-block-start: none;
    border-width: 2.5px;
    border-color: rgb(168, 168, 168);
    margin: 20px 10px;
    cursor: pointer;
  }

  .director{
    border-inline: inherit;
    display:flex;
    flex-Wrap:wrap;
    width: 225px;
    border-block-start: none;
    border-width: 1px;
    border-color: rgb(168, 168, 168);
    cursor: pointer;
    
  }
  .agg{
    background-color: rgb(37, 0, 124) !important;
  }
  
 

  @media (max-width: 375px) {
    .title{
        width: 300px !important;
     
    }
    hr{
      width: 200px !important;
  
    }
   .iconos , .icon  {
      margin-right: 200px !important;
      
    }
    
   
    .director{
      width: 200px;
  }
  }
    
  @media (max-width: 600px) {
    .title{
        width: 350px;
    }

    hr{
      width: 450px !important;
  
    }
   .iconos , .icon{
      margin-left: 240px !important;
      
    }
    .icon{
      margin-left: 270px !important;
    }
   
    .director{
      width: 450px;

    }
    
    
  
  }