/* Header Nav */
header > .navbar {
  background-color: var(--backgroundPrincipal);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.navbar .logo {
  width: clamp(70px, 10vw, 140px);
}

.navbar .logoT {
  width: clamp(120px, 20vw, 250px);
}

.container-fluid > .navbar-brand {
  color: var(--colorGlobalLigth);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-line > .line-side {
  width: 30px;
  transform: rotate(90deg);
}

/* Button Nav */
.navbar-toggler {
  border: none;
  outline: none;
  background-color: var(--backgroundSecondary);
  opacity: 0.4;
}

/* Seacrh */

.form button {
  border: none;
  background: none;
  color: #D9D9D9;
}

/* Input Container */
.form {
  position: relative;
  width: 400px;
  margin: 15px auto 0;
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
  order: 4;
}

/* Input */
.input-control {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  outline: none;
  color: var(--colorGlobalLigth);
}

/*Animated Border */
.form:before {
  content: "";
  position: absolute;
  background: var(--backgroundSecondary);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform 0.3s ease;
}

/* Hove Input */
.form:focus-within {
  border-radius: 1px;
}

.input-control:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

.form:focus-within:before {
  transform: scale(1);
}

/* Button x */
.input-control:not(:placeholder-shown) {
  opacity: 1;
  visibility: visible;
}

/*nav*/
.collapse {
  flex-grow: 0;
}

.collapse .nav-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.nav-item > .icon {
  margin-right: 5px;
  color: var(--backgroundSecondary);
  font-size: 30px;
}

.nav-item > .nav-link {
  color: var(--colorGlobalLigth);
  font-size: 20px;
}

.nav-item:not(:nth-child(3)) {
  justify-content: center;
}

.nav-item > .link:hover {
  color: var(--backgroundSecondary);
  transform: scale(1.1);
}

.nav-item > .dropLink:hover {
  color: var(--backgroundSecondary);
}

/* Dropdown porfile */

.dropdown .porfile {
  margin: 0 18px 0 10px;
}

/* Icon */
.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
}
.dropLink {
  width: 135px;
}

/* Responsive > 480px */
@media screen and (min-width: 480px){
  .form {
    width: 30%;
    margin: 0;
    order: initial;
  }
}

/* Responsive > 850px */
@media screen and (min-width: 850px){
  /* Nav */
  .navbar > .container-fluid{
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
    order: 3;
  }
  .navbar-brand > .container-line {
    margin: 0;
  }
  
  .container-line > .line-side {
    width: 50px;
  }
  
  .container-line > .line-side {
    width: 35px;
  }

  .arrow {
    right: -15px;
  }

  .dropLink{
    width: 150px;
  }
  
  /* Animation Logo Tipo*/
  .navbar .logoT {
    animation: moveSide 5s infinite;
  }

  @keyframes moveSide {
    0% {
      transform: skew(0deg);
    }
    100% {
      transform: skew(30deg);
    }
  }

  /* Animation icons navbar*/
  .set {
    animation: rotateSettings 1.5s linear infinite;
  }

  @keyframes rotateSettings {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(36deg);
    }
    20% {
      transform: rotate(72deg);
    }
    30% {
      transform: rotate(98deg);
    }
    40% {
      transform: rotate(134deg);
    }
    50% {
      transform: rotate(170deg);
    }
    60% {
      transform: rotate(203deg);
    }
    70% {
      transform: rotate(240deg);
    }
    80% {
      transform: rotate(275deg);
    }
    90% {
      transform: rotate(320deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Animation icons navbar*/
  .sup {
    animation: rotateSupport 2s linear infinite;
  }

  @keyframes rotateSupport {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(-1px);
    }
  }
}



