/* Main */
main {
  min-height: calc(100vh - 217px);
  padding: 20px;
}

/* Buttons Filter */
.container-filter .form-select {
  margin: 0 5px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: clamp(16px, 5vw, 22px);
  cursor: pointer;
  
}

.container-filter .all {
  width: 80px;
}
.container-filter .year {
  width: 90px;
}
.container-filter .duration {
  width: 120px;
}

#btn-edit{
 background-color: transparent;
 border: 0px;
 color: #ab8aff;
}

/* Hover Buttons */
.form-select:hover {
  background-color: rgba(230, 230, 230, 0.5);
  outline: none;
  border: none;
}

.container-buttons {
  flex-direction: column;
}

#btn-edit:hover{
  color: white;
  transition: 1s;
}

.container-buttons,
.container-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

/* Button Add */
.btn {
  background-color: var(--backgroundSecondary);
  color: var(--colorGlobalLigth);
  border-radius: 50px;
  font-size: clamp(16px, 5vw, 22px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  margin: 15px 0;
  align-self: flex-end;
}

.btn:hover {
  background-color: var(--backgroundPrincipal);
  color: var(--colorGlobalLigth);
  transform: scale(0.95);
  transition: all 0.5s;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.btn > .icon {
  font-size: clamp(16px, 5vw, 2px);
  margin-left: 40px;
}

/* Cards */
.container-cards {
  max-width: 95%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-cards > .card {
  max-width: 500px;
  margin: 0 15px;
  color: var(--colorGlobalLigth);
  border: 0;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5),
    -15px -15px 30px rgba(0, 0, 0, 0.3);
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.container-cards > .card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.card .figure {
  display: grid;
  place-items: center;
  padding: 0 20px;
  background-color: var(--backgroundSecondary);
}

.figure > img {
  width: 100px;
}

.card .card-text {
  text-align: left;
  color: var(--colorGlobalLight);
}

.card .card-text:last-child {
  text-align: right;
}

.card .card-body {
  background-color: var(--backgroundPrincipal);
}

.card-text > .edit,
.card-text > .delete {
  color: var(--backgroundSecondary);
  cursor: pointer;
}

.card-text > .edit:hover,
.card-text > .delete:hover {
  color: var(--colorGlobalLigth);
  transition: 1s;
}

.card-text .icon {
  font-size: 30px;
  margin: 0 15px 0 8px;
}

/* Responsive > 480px */
@media only screen and (min-width: 480px) {
  .container-filter .all {
    width: 80px;
  }
  .container-filter .year {
    width: 100px;
  }
  .container-filter .duration {
    width: 170px;
  }
  .container-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
  }
}

/* Responsive > 760px */
@media only screen and (min-width: 768px) {
  .btn > .icon {
    font-size: clamp(16px, 5vw, 2px);
    margin-left: 80px;
  }

  .figure > img {
    width: auto;
  }
  
}
