@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap");

:root{
  --colorGlobalLigth: #FFF;
  --colorGlobalDark: #000;
  --backgroundPrincipal: #21164D;
  --backgroundSecondary: #AB8AFF;
  --fontPrincipal: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--fontPrincipal);
  padding: 0;
  background-color: black;
  width: 100vh;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./components/assets/back.png);
  background-repeat: no-repeat;
  background-size: cover; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
} */